@inherits LayoutComponentBase

<SessionInitializer />
<div class="app-layout">
    <NavMenu />
    <main class="main-content">
        <div class="content-wrapper">
           
            @Body
        </div>
    </main>
</div>