@inherits LayoutComponentBase

<nav class="top-nav">
    <div class="nav-left">
        🎓 <span class="brand-name">StudfesorHub</span>
    </div>
    <ul class="nav-menu">
        <li>Početna stranica</li>
    </ul>
</nav>

<div class="content">
        @Body
    </div>
