@inject NavigationManager NavManager

<!-- TOP NAVBAR -->
<nav class="top-nav">
    <div class="nav-left">
        🎓 <span class="brand-name">StudfesorHub</span>
    </div>

    <ul class="nav-menu">
        <li><a href="/raspored">Raspored</a></li>
        <li><a href="/predmeti">Predmeti</a></li>
        <li><a href="/aktivnosti">Aktivnosti</a></li>
        <li><a href="/profil">Profil</a></li>
    </ul>
</nav>