@inject NavigationManager NavManager

<!-- TOP NAVBAR -->
<nav class="top-nav">
    <div class="nav-left">
        🎓 <span class="brand-name">StudfesorHub</span>
    </div>

    <ul class="nav-menu">
        <li><NavLink href="/schedule"   Match="NavLinkMatch.Prefix">Raspored</NavLink></li>
        <li><NavLink href="/aktivnosti" Match="NavLinkMatch.Prefix">Aktivnosti</NavLink></li>
        <li><NavLink href="/profil"     Match="NavLinkMatch.Prefix">Profil</NavLink></li>
    </ul>
</nav>