@inherits LayoutComponentBase

<div class="auth-container">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<style>
    .auth-container {
        background-color: #f8f9fa;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
</style>