@page "/aktivnosti"
@using BusinessLayer.Abstractions
@inject IActivityBusiness ActivityService
<div class="activities-layout">

    <section class="activities-left">
        <h2>Moje aktivnosti</h2>

        <EditForm Model="@model" OnValidSubmit="Save">
            <InputText @bind-Value="model.Header" placeholder="Naslov" />
            <InputTextArea @bind-Value="model.Paragraph" placeholder="Opis" />
            <InputDate @bind-Value="model.Deadline" />
            <button>Sačuvaj</button>
        </EditForm>

        <ul>
            @foreach (var a in activities)
            {
                    <li>
                        <strong>@a.Header</strong><br />
                    @a.Paragraph<br />
                        <small>@a.Deadline.ToShortDateString()</small>
                    </li>
            }
        </ul>
    </section>

    <section class="activities-right">
        <h2>Raspored</h2>
        <p>(kasnije)</p>
    </section>

</div>

@code {
    ActivityDTO model = new();
    List<ActivityDTO> activities = new();

    int currentUserId = 1; // kasnije iz auth-a

    protected override void OnInitialized()
    {
        activities = ActivityService.GetByUser(currentUserId);
    }

    void Save()
    {
        ActivityService.Add(model, currentUserId);
        activities.Add(model);
        model = new ActivityDTO();
    }
}