@page "/aktivnosti"
@inject IActivityBusiness ActivityService
@using Entities
@rendermode InteractiveServer

<h3>Nova aktivnost</h3>

<EditForm Model="@activity"
          OnSubmit="SaveActivity"
          FormName="AddActivityForm">

    <input placeholder="Naslov"
           @bind="activity.Header" />

    <input placeholder="Opis"
           @bind="activity.Paragraph" />

    <input placeholder="Tip"
           @bind="activity.Type" />

    <button type="submit">SAČUVAJ</button>
</EditForm>

@code {
    private Activity activity = new Activity
        {
            CreatedUserId = 2,
            Deadline = DateTime.Now
        };

    private void SaveActivity()
    {
        Console.WriteLine("SAVE ACTIVITY POZVAN");

        try
        {
            ActivityService.CreateActivity(activity);
            Console.WriteLine("CREATE ACTIVITY POZVAN");
        }
        catch (Exception ex)
        {
            Console.WriteLine("GRESKA: " + ex.Message);
        }
    }
}