@page "/"
@layout MinimalLayout
@inject NavigationManager NavManager

<!-- HERO SECTION -->
<section class="hero-section">
    <div class="hero-container">

        <!-- LEVA STRANA -->
        <div class="hero-text">
            <h1 class="hero-title">
                Dobrodošli u <span class="brand-green">StudfesorHub</span>
            </h1>

            <p class="hero-subtitle">
                Organizuj aktivnosti, prati raspored i ostani u toku
                sa svim obaveštenjima na jednom mestu.
            </p>

            
          <NavLink href="/login" class="btn btn-success hero-btn">
    Počni odmah
</NavLink>
        </div>

       

    </div>
</section>