@page "/profesor"
@layout MinimalLayout

<div class="professor-container">
    <header class="header">
        <h1>Profesorski panel</h1>
        <p>Vaša profesorska stranica za prikaz aktivnosti i praćenje rasporeda</p>
    </header>

    <main class="cards">
        <div class="card">
            <i class="fas fa-chalkboard-teacher"></i>
            <h3>Predmeti</h3>
            <p>Upravljanje aktivnostima</p>
        </div>

        <div class="card">
            <i class="fas fa-users"></i>
            <h3>Raspored</h3>
            <p>Pregled rasporeda</p>
        </div>

        <div class="card">
            <i class="fas fa-calendar-check"></i>
            <h3>Profil</h3>
            <p>Pregled i izmena ličnih podataka</p>
        </div>
    </main>
</div>