@page "/profesor"
@layout MinimalLayout
@rendermode InteractiveServer
@inject NavigationManager Navigation

<div class="profesor-home-container">
    <header class="profesor-header">
        <h1>Dobrodošli</h1>
        <p>Vaša stranica za praćenje aktivnosti i rasporeda</p>
    </header>

    <section class="info-banner-profesor">
        <p>
            Ovde možete lako pristupiti svojim aktivnostima, rasporedu i profilu.
            Sve na jednom mestu 
        </p>
    </section>

   <main class="profesor-cards">
    <div class="card" @onclick="GoToActivities">
       <i class="fas fa-tasks card-icon"></i>
        <h3>Aktivnosti</h3>
        <p>Praćenje obaveza i aktivnosti</p>
    </div>
    <div class="card" @onclick="GoToSchedule">
        <i class="fas fa-calendar-check card-icon"></i>
        <h3>Raspored</h3>
        <p>Raspored predavanja</p>
    </div>

    <div class="card" @onclick="GoToProfile">
        <i class="fas fa-id-badge card-icon"></i>
        <h3>Moj profil</h3>
        <p>Pregled i izmena ličnih podataka</p>
    </div>
</main>

    <footer class="profesor-footer">
        <p>📚 StudfesorHub</p>
    </footer>
</div>
@code {
    void GoToActivities()
    {
        Navigation.NavigateTo("/aktivnosti");
    }

    void GoToSchedule()
    {
        Navigation.NavigateTo("/schedule");
    }

    void GoToProfile()
    {
        Navigation.NavigateTo("/profil");
    }
}